<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="script.js">
    <script src="https://kit.fontawesome.com/6ec01ff34f.js" crossorigin="anonymous"></script>
    <title>Shopeit</title>
</head>

<body>
    <!-- nav_bar -->
    <section id="header">
        <img src="/pic/logo.png" alt="">
        <div>
            <ul id="navbar">
                <li><a href="home.html">Home</a></li>
                <li><a href="shope.html">Shope</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="contact.html">contact us</a></li>
                <li><a href="shopping.html"><i class="fa-sharp fa-solid fa-shop"></i></a></li>
            </ul>
        </div>
    </section>

    <!-- middle_body -->

    <section id="body">
        <div class="body-inner">

            <h4><span style="font-family: 'Courier New', Courier, monospace;">T</span>rade-in-offer</h4>
            <h2>supper value deal</h2>
            <h1 style="color:rgb(157, 253, 253) ;">On all products</h1>
            <p style="font-size:small;">save more with upto <span style="color:rgb(35, 24, 255) ;">70%</span> off!</p>
            <button><b> Shope <span style="color: rgb(70, 70, 255) ;">Now</span> </b></button>

        </div>

    </section>

    <!-- other item -->

    <section id="features" class="section-p1">
        <a href="">
            <div class="feat-box">
                <img src="/pic/free-shipping.jpg" alt="">
                <h5>Free shipping</h5>
            </div>
        </a>

        <a href="">
            <div class="feat-box">
                <img src="/pic/sale-logo-download copy.png" alt="">
                <h5> get 40% off!</h5>
            </div>
        </a>

        <a href="">
            <div class="feat-box">
                <img src="/pic/images copy.jpg" alt="">
                <h5>save your money</h5>
            </div>
        </a>
    </section>

    <!-- features -->

    <section id="products" class="section-p1">
        <h2>Featured products</h2>
        <p>Enjoy your summer collection</p>
        <div class="container">
            <div class="prod_1">
                <div class="img">
                    <img src="/pic/ppp.jpg" alt="..image">
                    <div class="discruption">
                       
                        <h5>Cotton Blend T-shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$75<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>

            <div class="prod_1">
                <div class="img">
                    <img src="/pic/shirt2.jpeg" alt="..image">
                    <div class="discruption">
                       
                        <h5>Infant Kid T-shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$25<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>

            <div class="prod_1">
                <div class="img">
                    <img src="/pic/shirt3.jpeg" alt="..image">
                    <div class="discruption">
                       
                        <h5>Tropical Floral shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$35<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>

            <div class="prod_1">
                <div class="img">
                    <img src="/pic/shirt4.jfif" alt="..image">
                    <div class="discruption">
                       
                        <h5>CASTLETOWN shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$75<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>

            <div class="prod_1">
                <div class="img">
                    <img src="/pic/ppp.jpg" alt="..image">
                    <div class="discruption">
                       
                        <h5>Cotton Blend T-shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$75<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>

            <div class="prod_1">
                <div class="img">
                    <img src="/pic/ppp.jpg" alt="..image">
                    <div class="discruption">
                       
                        <h5>Cotton Blend T-shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$75<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>

            <div class="prod_1">
                <div class="img">
                    <img src="/pic/ppp.jpg" alt="..image">
                    <div class="discruption">
                       
                        <h5>Cotton Blend T-shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$75<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>

            <div class="prod_1">
                <div class="img">
                    <img src="/pic/ppp.jpg" alt="..image">
                    <div class="discruption">
                       
                        <h5>Cotton Blend T-shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$75<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>

            <div class="prod_1">
                <div class="img">
                    <img src="/pic/ppp.jpg" alt="..image">
                    <div class="discruption">
                       
                        <h5>Cotton Blend T-shirt</h5>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$75<h4>
                    </div>
                    <a href=""><i class="fa-sharp fa-solid fa-cart-plus cart"></i></a>
                </div>


                
            </div>     

            

        </div>
    </section>
</body>

</html>


