<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thanks for log-in</title>
    <script src="https://kit.fontawesome.com/6ec01ff34f.js" crossorigin="anonymous"></script>
<style>
    *{
        margin: 0%;
        padding: 0%;
    }
    .div1{
        background-image: url(fb-logo.jpg);
        height: 700px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .account{
        color: white;
    }
    .div2{
        color: white;
        position: relative;
        left: 500px;
        top: 350px;
    }
</style>
</head>
<body>
    <div class="div1">


    <div class="account">
      <h1>  Creating your account </h1><span><b> Loading...</b></span>
    </div>

    <div class="div2">
        <i class="fa-sharp fa-solid fa-circle-check"></i>
        Thanks for sing up
    </div>


</div>
</body>
</html>