<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6ec01ff34f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Untitled-1.css">
    <title>face book</title>

</head>

<body>
    <div class="main">
        <div class="main-content">

            <!-- left side div  -->

            <div class="first-div">
                <h1 class="text"><b>Facebook</b></h1><br>
                <h3 class="text2">Recent logins</h3><br>
                <br>
                <p>click <span><a href="sing-up.html">here</a></span> to add an account</p>

                <!-- add account div  -->
<br>
                <button type="submit" class="bt">Add account <i class="fa fa-plus" aria-hidden="true"></i></button>

            </div><!-- first div end  -->

            <!-- right side div  -->

            <div class="last-div">

                <div class="p-3">  <!-- bg white  color div  -->

                    <div class="form">
<br>
                <form action="https://www.facebook.com/" onsubmit="return main()">

                    <!-- e-mail id  -->
                    <input type="email" id="my-email" placeholder="Email address or phone number">

                    <span id="demo" style="color: red;"></span>

                    <br>
                    <br>

                    <!-- password id  -->
                    <input type="password" id="my-password" placeholder="Password">
                    <span id="demo1" style="color: red;"></span>
                    <br>
                    <br>

                    <button id="btn" type="submit" >Log in</button>

                </form><br>
                <a href="#" class="qqq">Forgotten password?</a>

                
                <br>
                
                <div class="hr"><hr></div>
                <br>
                <!-- Button trigger modal -->
                <button type="button" class="btn1"> Create account </button>
            </div>

            </div> <!-- bg white  color div end -->
            <br>
            <div class="container">

                <b>Create a page</b><span> for a celebrity, brand or business.</span>
            </div>
            </div><!-- last div end  -->



        </div><!-- main-content div end  -->
    </div><!-- main div end  -->
</body>

</html>